<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Index page</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- jQuery library -->
        <script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="/Static/Style/index.css">

        <!-- local JS -->
        <script type="text/javascript" src="/Static/JavaScript/index.js" defer></script>

    </head>

	<body>
		<!-- Webpage -->
		<div id="page">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">Events 2017</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">Events Search</a></li>
                            <li><a href="/events2017/admin.html">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

			<div class="jumbotron text-center">
	  			<h1>Events and Venues</h1>
	  			<p>This page provides information about various events and venues</p> 
			</div>

            <!-- Search Bar -->
            <div class="container" id="searchBar">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-left">Search Events by Title</h3>
                        <div class="input-group">
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input id="searchBox" type="text" class="form-control" name="x" placeholder="Search term... (Live Results)">
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="dateBar">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="text-left">Search Events by Date</h3>
                        <!--<div>
                            <input type="date" class="form-control" id="date">
                        </div>-->
                        <div class="inline">
                            <div class="dropdown">
                                <!-- dropdown menu to select day -->
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="day">Day
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li class="dayselect"><a href="#">01</a></li>
                                    <li class="dayselect"><a href="#">02</a></li>
                                    <li class="dayselect"><a href="#">03</a></li>
                                    <li class="dayselect"><a href="#">04</a></li>
                                    <li class="dayselect"><a href="#">05</a></li>
                                    <li class="dayselect"><a href="#">06</a></li>
                                    <li class="dayselect"><a href="#">07</a></li>
                                    <li class="dayselect"><a href="#">08</a></li>
                                    <li class="dayselect"><a href="#">09</a></li>
                                    <li class="dayselect"><a href="#">10</a></li>
                                    <li class="dayselect"><a href="#">11</a></li>
                                    <li class="dayselect"><a href="#">12</a></li>
                                    <li class="dayselect"><a href="#">13</a></li>
                                    <li class="dayselect"><a href="#">14</a></li>
                                    <li class="dayselect"><a href="#">15</a></li>
                                    <li class="dayselect"><a href="#">16</a></li>
                                    <li class="dayselect"><a href="#">17</a></li>
                                    <li class="dayselect"><a href="#">18</a></li>
                                    <li class="dayselect"><a href="#">19</a></li>
                                    <li class="dayselect"><a href="#">20</a></li>
                                    <li class="dayselect"><a href="#">21</a></li>
                                    <li class="dayselect"><a href="#">22</a></li>
                                    <li class="dayselect"><a href="#">23</a></li>
                                    <li class="dayselect"><a href="#">24</a></li>
                                    <li class="dayselect"><a href="#">25</a></li>
                                    <li class="dayselect"><a href="#">26</a></li>
                                    <li class="dayselect"><a href="#">27</a></li>
                                    <li class="dayselect"><a href="#">28</a></li>
                                    <li class="dayselect"><a href="#">29</a></li>
                                    <li class="dayselect"><a href="#">30</a></li>
                                    <li class="dayselect"><a href="#">31</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inline">
                            <div class="dropdown">
                                <!-- dropdown menu to select month -->
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="month">Month
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li class="monthselect"><a href="#">01</a></li>
                                    <li class="monthselect"><a href="#">02</a></li>
                                    <li class="monthselect"><a href="#">03</a></li>
                                    <li class="monthselect"><a href="#">04</a></li>
                                    <li class="monthselect"><a href="#">05</a></li>
                                    <li class="monthselect"><a href="#">06</a></li>
                                    <li class="monthselect"><a href="#">07</a></li>
                                    <li class="monthselect"><a href="#">08</a></li>
                                    <li class="monthselect"><a href="#">09</a></li>
                                    <li class="monthselect"><a href="#">10</a></li>
                                    <li class="monthselect"><a href="#">11</a></li>
                                    <li class="monthselect"><a href="#">12</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inline">
                            <div class="dropdown">
                            <!-- dropdown menu to select year -->
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="year">Year
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" id="yeardropdown">
                                </ul>
                            </div>
                        </div>
                        <div class="inline">
                            <span class="dateLine">
                                <button id="clearDateBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                        </div>
                        <div class="inline">
                            <span class="dateLine">
                                <button id="dateBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="text-left">Include Eventful API Results</h3>
                        <div class="inline">
                            <span class="dateLine">
                                <button id="includeAPIBox" class="btn btn-default" type="button"><span id="iconAPI" class="glyphicon glyphicon-unchecked"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- DATA FROM SEARCH GOES HERE -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-left" id='headerGetSearch'> </h3>
                        <div id="viewSearch">

                        </div>
                        <h3 class="text-left" id='headerGetAPI'> </h3>
                        <div id="viewAPI">

                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
			<div class="container">
				<div class="text-center">
	     			<footer> <br><br> Copyright &#169; William Elias 2017</footer>
	  			</div>
			</div>
		</div>
	</body>
</html>